<%- include("partials/header"); -%>

<div class="main">
    <h1>Home</h1>
    <p><%= startingContent %></p>
    <hr>
</div>

<div class="main">
    <% posts.forEach(function(post){ %>

    <h3>
        <a href="/posts/<%=post._id%>"><%=post.title%></a>
    </h3>
    <p>
        <%=post.content.substring(0, Math.min(100,post.content.length)) + " ..." %><br>
    </p>
    <a href="/posts/<%=post._id%>"><button type="button" class="btn btn-outline-danger">Read More</button></a>
    <span></span>
    <hr>
    <% }) %>
</div>

<%- include("partials/footer"); -%>